@import "../../variables";

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: auto;

  .controles {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  p {
    color: $cnegro;
  }
}