// Header y Footer Joubert
@import '../variables';

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: $cnegro;
  align-items: center;

  h1 {
    font-size: 2em;
    color: $color;
    text-align: center;
    margin: 0.5em 0;
  }
  .navB {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $cosc8;

    .nav{
    
      ul{
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        margin-bottom: 0;
    
        li{
          padding: 1em;

          a {
            margin: 0.1em;
            padding: 0.5em;
            border-radius: 0.8em;
            font-weight: bold;
            color: $cosc1;
          }
        }

        .active {
          font-weight: 700;
          color: $cosc2;
          background-color: $cosc7;
        }

        li:hover{
          & a, a:hover {
            background-color: $cosc1;
            color: $cosc8;
          }
        }
      }
    } // fin nav
  } // fin navB
}

.cuerpo{
  padding: 2em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  background: $cosc6;
  color: $cosc3;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    font-family: $fuenteT, sans-serif;
    margin: 0 0 15px 0;
  }

  .descrip {
    font-size: 15;
    font-style: italic;
    margin: 0 0 40px 0;
  }

  .social-links {
    margin: 0 0 40px 0;

    & a {
      font-size: 18px;
      display: inline-block;
      background: $cosc3;
      color: $ccla1;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;

      &:hover {
        background: $ccla1;
        color: $cosc3;
        text-decoration: none;
      }
    }
  }

  .copyright {
    margin: 0 0 5px 0;

    & .pstr{
      font-weight: bold;
    }
  }
}

